body{
background-color: pink;


}

.container{
height:100vh;
width:150vh;
display:flex;
justify-content: center;




}
.form{
height:80vh;
width:120vh;
display:flex;
justify-content: center;
flex-direction: column;
justify-content:flex-start;

}

.form input{
padding:10px 50px;
margin-top: 20px;




}
.form label{
font-size: 20px;
margin-top: 10px;

}